.wsymbol_0012_heavy_snow_showers {
  background: url("/src/images/backgrounds/wsymbol_0012_heavy_snow_showers.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0012_heavy_snow_showers-night {
  background: url("/src/images/backgrounds/wsymbol_0012_heavy_snow_showers-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0016_thundery_showers {
  background: url("/src/images/backgrounds/wsymbol_0016_thundery_showers.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0016_thundery_showers-night {
  background: url("/src/images/backgrounds/wsymbol_0016_thundery_showers-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0024_thunderstorms {
  background: url("/src/images/backgrounds/wsymbol_0024_thunderstorms.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0024_thunderstorms-night {
  background: url("/src/images/backgrounds/wsymbol_0024_thunderstorms-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0021_cloudy_with_sleet {
  background: url("/src/images/backgrounds/wsymbol_0021_cloudy_with_sleet.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0021_cloudy_with_sleet-night {
  background: url("/src/images/backgrounds/wsymbol_0021_cloudy_with_sleet-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0013_sleet_showers {
  background: url("/src/images/backgrounds/wsymbol_0013_sleet_showers.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0013_sleet_showers-night {
  background: url("/src/images/backgrounds/wsymbol_0013_sleet_showers-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0011_light_snow_showers {
  background: url("/src/images/backgrounds/wsymbol_0011_light_snow_showers.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0011_light_snow_showers-night {
  background: url("/src/images/backgrounds/wsymbol_0011_light_snow_showers-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0018_cloudy_with_heavy_rain {
  background: url("/src/images/backgrounds/wsymbol_0018_cloudy_with_heavy_rain.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0018_cloudy_with_heavy_rain-night {
  background: url("/src/images/backgrounds/wsymbol_0018_cloudy_with_heavy_rain-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0010_heavy_rain_showers {
  background: url("/src/images/backgrounds/wsymbol_0010_heavy_rain_showers.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0010_heavy_rain_showers-night {
  background: url("/src/images/backgrounds/wsymbol_0010_heavy_rain_showers-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0009_light_rain_showers {
  background: url("/src/images/backgrounds/wsymbol_0009_light_rain_showers.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0009_light_rain_showers-night {
  background: url("/src/images/backgrounds/wsymbol_0009_light_rain_showers-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0020_cloudy_with_heavy_snow {
  background: url("/src/images/backgrounds/wsymbol_0020_cloudy_with_heavy_snow.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0020_cloudy_with_heavy_snow-night {
  background: url("/src/images/backgrounds/wsymbol_0020_cloudy_with_heavy_snow-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0019_cloudy_with_light_snow {
  background: url("/src/images/backgrounds/wsymbol_0019_cloudy_with_light_snow.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0019_cloudy_with_light_snow-night {
  background: url("/src/images/backgrounds/wsymbol_0019_cloudy_with_light_snow-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0017_cloudy_with_light_rain {
  background: url("/src/images/backgrounds/wsymbol_0017_cloudy_with_light_rain.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0017_cloudy_with_light_rain-night {
  background: url("/src/images/backgrounds/wsymbol_0017_cloudy_with_light_rain-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0007_fog {
  background: url("/src/images/backgrounds/wsymbol_0007_fog.jpg") no-repeat
    fixed center center / cover;
}
.wsymbol_0007_fog-night {
  background: url("/src/images/backgrounds/wsymbol_0007_fog-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0006_mist {
  background: url("/src/images/backgrounds/wsymbol_0006_mist.jpg") no-repeat
    fixed center center / cover;
}
.wsymbol_0006_mist-night {
  background: url("/src/images/backgrounds/wsymbol_0006_mist-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0004_black_low_cloud {
  background: url("/src/images/backgrounds/wsymbol_0004_black_low_cloud.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0004_black_low_cloud-night {
  background: url("/src/images/backgrounds/wsymbol_0004_black_low_cloud-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0003_white_cloud-night {
  background: url("/src/images/backgrounds/wsymbol_0003_white_cloud-night.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0003_white_cloud {
  background: url("/src/images/backgrounds/wsymbol_0003_white_cloud.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0002_sunny_intervals {
  background: url("/src/images/backgrounds/wsymbol_0002_sunny_intervals.jpg")
    no-repeat fixed center center / cover;
}
.wsymbol_0002_sunny_intervals-night {
  background: url("/src/images/backgrounds/wsymbol_0002_sunny_intervals-night.jpg")
    no-repeat fixed center center / cover;
}

.wsymbol_0001_sunny {
  background: url("/src/images/backgrounds/wsymbol_0001_sunny.jpg") no-repeat
    fixed center center / cover;
}

.wsymbol_0001_sunny-night {
  background: url("/src/images/backgrounds/wsymbol_0001_sunny-night.jpg")
    no-repeat fixed center center / cover;
}
