body {
  margin: 0;
  font-family: "raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  @include transition(0.4s all);
  background: #202020;
}

.sunny-bkg,
body.day-bkg {
  background: url("/src/images/sunny_bkg.jpg") no-repeat fixed center center /
    cover;
}
.rainy-bkg {
  background: url("/src/images/rainy.jpg") no-repeat fixed center center / cover;
}
.thunder-bkg {
  background: url("/src/images/thunder.jpg") no-repeat fixed center center /
    cover;
}
.clowdy-bkg {
  background: url("/src/images/clowdy_bkg.jpg") no-repeat fixed center center /
    cover;
}
.snow-bkg {
  background: url("/src/images/snow.jpg") no-repeat fixed center center / cover;
}
.fog-bkg {
  background: url("/src/images/fog.jpg") no-repeat fixed center center / cover;
}
.night-bkg {
  background: url("/src/images/night.jpg") no-repeat fixed center center / cover;
}

.section-curr-weather {
  h3 {
    white-space: nowrap;
  }
}
.current-weather {
  img {
    margin-right: 10px;
    float: left;
  }
  h4 {
    margin-top: 5px;
    text-shadow: none;
  }
}
.weather-forecast {
  &.cf {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    border: 5px solid rgba(166, 166, 166, 0.1);
    border-radius: 5px;
    box-shadow: 1px 1px 15px #000000;
    color: #ffffff;
    margin-top: 30px;
    height: 903px;
    overflow: hidden;
    padding: 20px 35px;
    position: relative;

    &::before {
      background: -moz-linear-gradient(
        top,
        rgba(249, 249, 249, 0.16) 0%,
        rgba(249, 249, 249, 0.16) 1%,
        rgba(212, 216, 216, 0.25) 50%,
        rgba(239, 244, 243, 0.18) 99%,
        rgba(239, 244, 243, 0.18) 100%
      );
      background: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0%, rgba(249, 249, 249, 0.16)),
        color-stop(1%, rgba(249, 249, 249, 0.16)),
        color-stop(50%, rgba(212, 216, 216, 0.25)),
        color-stop(99%, rgba(239, 244, 243, 0.18)),
        color-stop(100%, rgba(239, 244, 243, 0.18))
      );
      background: -webkit-linear-gradient(
        top,
        rgba(249, 249, 249, 0.16) 0%,
        rgba(249, 249, 249, 0.16) 1%,
        rgba(212, 216, 216, 0.25) 50%,
        rgba(239, 244, 243, 0.18) 99%,
        rgba(239, 244, 243, 0.18) 100%
      );
      background: -o-linear-gradient(
        top,
        rgba(249, 249, 249, 0.16) 0%,
        rgba(249, 249, 249, 0.16) 1%,
        rgba(212, 216, 216, 0.25) 50%,
        rgba(239, 244, 243, 0.18) 99%,
        rgba(239, 244, 243, 0.18) 100%
      );
      background: -ms-linear-gradient(
        top,
        rgba(249, 249, 249, 0.16) 0%,
        rgba(249, 249, 249, 0.16) 1%,
        rgba(212, 216, 216, 0.25) 50%,
        rgba(239, 244, 243, 0.18) 99%,
        rgba(239, 244, 243, 0.18) 100%
      );
      background: linear-gradient(
        to bottom,
        rgba(249, 249, 249, 0.16) 0%,
        rgba(249, 249, 249, 0.16) 1%,
        rgba(212, 216, 216, 0.25) 50%,
        rgba(239, 244, 243, 0.18) 99%,
        rgba(239, 244, 243, 0.18) 100%
      );
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29f9f9f9', endColorstr='#2eeff4f3',GradientType=0 );

      border-radius: 5px;
      box-shadow: 0 0 15px #000000;
      content: "";
      height: 700%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .weather-ico {
      border-radius: 5px;
      position: relative;
    }
  }
  .days {
    .col-md-2 {
      margin-top: 20px;
      width: 19.967%;

      &:last-child {
        border: medium none;
      }
    }
  }
}
.information {
  margin-top: 15px;
  float: left;

  strong {
    color: white;
    font-size: 33px;
    font-weight: normal;
    float: left;
  }
  .time {
    float: left;
    margin-bottom: 12px;
    margin-top: 17px;
  }
}
section {
  margin-bottom: 20px;
}
.days {
  margin-bottom: 0px;

  .rain,
  .wind {
    background: rgba(0, 0, 0, 0)
      linear-gradient(
        to bottom,
        rgba(48, 48, 48, 0) 0%,
        rgba(47, 48, 48, 0.5) 39%,
        rgba(47, 48, 48, 0.55) 43%,
        rgba(47, 48, 48, 0.55) 50%,
        rgba(47, 48, 48, 0.47) 57%,
        rgba(42, 43, 43, 0.01) 99%,
        rgba(42, 43, 43, 0) 100%
      )
      repeat scroll 0 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3px;
    box-shadow: 1px 1px 3px #202020 inset;
    height: 30px;
    margin-top: 10px;
    padding: 3px 10px;
    position: relative;
  }
  .weather-ico {
    width: 100px;
    display: inline-block;
  }
  .date {
    margin-top: 0;
  }
  li {
    width: calc(100% / 5);
    padding: 0px 15px;
  }

  .hourly {
    border-top: 5px solid rgba(0, 0, 0, 0.2);
    margin-top: 10px;

    .time {
      text-align: left;
    }
    div {
      float: left;
      width: calc(100% / 3);
      width: -moz-calc(100% / 3);
      width: -webkit-calc(100% / 3);
      width: -ms-calc(100% / 3);
    }
    img {
      margin-top: -5px;
      width: 40px;
      display: inline-block;
    }
    ul {
      margin-top: 20px;

      li {
        background: -moz-linear-gradient(
          top,
          rgba(48, 48, 48, 0) 0%,
          rgba(47, 48, 48, 0.5) 39%,
          rgba(47, 48, 48, 0.55) 43%,
          rgba(47, 48, 48, 0.55) 50%,
          rgba(47, 48, 48, 0.47) 57%,
          rgba(42, 43, 43, 0.01) 99%,
          rgba(42, 43, 43, 0) 100%
        );
        width: 100%;
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0%, rgba(48, 48, 48, 0)),
          color-stop(39%, rgba(47, 48, 48, 0.5)),
          color-stop(43%, rgba(47, 48, 48, 0.55)),
          color-stop(50%, rgba(47, 48, 48, 0.55)),
          color-stop(57%, rgba(47, 48, 48, 0.47)),
          color-stop(99%, rgba(42, 43, 43, 0.01)),
          color-stop(100%, rgba(42, 43, 43, 0))
        );
        background: -webkit-linear-gradient(
          top,
          rgba(48, 48, 48, 0) 0%,
          rgba(47, 48, 48, 0.5) 39%,
          rgba(47, 48, 48, 0.55) 43%,
          rgba(47, 48, 48, 0.55) 50%,
          rgba(47, 48, 48, 0.47) 57%,
          rgba(42, 43, 43, 0.01) 99%,
          rgba(42, 43, 43, 0) 100%
        );
        background: -o-linear-gradient(
          top,
          rgba(48, 48, 48, 0) 0%,
          rgba(47, 48, 48, 0.5) 39%,
          rgba(47, 48, 48, 0.55) 43%,
          rgba(47, 48, 48, 0.55) 50%,
          rgba(47, 48, 48, 0.47) 57%,
          rgba(42, 43, 43, 0.01) 99%,
          rgba(42, 43, 43, 0) 100%
        );
        background: -ms-linear-gradient(
          top,
          rgba(48, 48, 48, 0) 0%,
          rgba(47, 48, 48, 0.5) 39%,
          rgba(47, 48, 48, 0.55) 43%,
          rgba(47, 48, 48, 0.55) 50%,
          rgba(47, 48, 48, 0.47) 57%,
          rgba(42, 43, 43, 0.01) 99%,
          rgba(42, 43, 43, 0) 100%
        );
        background: linear-gradient(
          to bottom,
          rgba(48, 48, 48, 0) 0%,
          rgba(47, 48, 48, 0.5) 39%,
          rgba(47, 48, 48, 0.55) 43%,
          rgba(47, 48, 48, 0.55) 50%,
          rgba(47, 48, 48, 0.47) 57%,
          rgba(42, 43, 43, 0.01) 99%,
          rgba(42, 43, 43, 0) 100%
        );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00303030', endColorstr='#002a2b2b',GradientType=0 );
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        clear: both;
        border-radius: 3px;
        box-shadow: 1px 1px 3px #202020 inset;
        height: 30px;
        margin-bottom: 7px;
        padding-top: 4px;
      }
    }
    .temp {
      text-align: right;
    }
  }

  li.week-day {
    margin-top: 20px;
    text-align: center;
    position: relative;
    @include transition(0.4s all);

    .date {
      position: relative;
      .month {
        font-size: 0.9rem;
        position: absolute;
        top: 30px;
        right: 30%;
        opacity: 0.5;
      }
    }
    .left {
      width: 45%;
      text-align: left;
    }
    .dash-center {
      width: 10%;
    }
    .right {
      width: 45%;
      text-align: right;
    }
    .day-description {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
.form-control:focus {
  color: white;
  background-color: transparent;
}
.weather img {
  width: 50px;
}
.day.row {
  float: left;
  margin: 20px;
}
.hidden {
  display: none;
}
/* Search Form */
.suggestions {
  position: absolute;
  left: 0;
  top: 40px;
  background: white;
  z-index: 1;
  color: #333;
  cursor: pointer;
  max-height: 400px;
  overflow: auto;
  width: 100%;

  li {
    padding: 10px 15px;

    &:hover {
      background: #48c765;
      color: white;
    }
  }
}

.slick-slider {
  width: 100%;
  .slick-next {
    background: url("/src/images/arrow-right.png");
  }
  .slick-prev {
    background: url("/src/images/arrow-left.png");
  }

  .slick-arrow {
    width: 40px;
    height: 100%;
    background-size: 13px 40px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.6;
    @include transition(0.2s all);

    &:hover {
      opacity: 0.8;
    }
  }
  .slick-next::before,
  .slick-prev::before {
    display: none;
  }
}
.search-city-form {
  float: right;
  margin-top: 85px;
  position: relative;
  transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -webkit-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  width: 80%;

  input {
    margin-right: 10px;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0 0;
    border: 1px solid #797979;
    border-radius: 5px;
    height: 43px;
    padding-right: 93px;
    width: 100% !important;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
  }
  button {
    position: absolute;
    right: 5px;
    top: 5px;
    padding: 3px 25px;
  }
}
ol,
ul {
  list-style: outside none none;
  padding: 0;
}
.loading-bar {
  /*background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0;*/
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1111;

  .inner {
    display: inline-block;
    left: 50%;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

    div {
      color: #cfcfcf;
      font-size: 18px;
      letter-spacing: 1.1px;
      margin-top: -25px;
      padding-left: 13px;
      text-align: center;
      text-shadow: 1px 1px 1px #404040;
    }
  }
  img {
    width: 70px;
  }
}
.refresh {
  opacity: 0.6;
  overflow: hidden;
  transition-duration: 0.8s;
  transition-property: transform;
}
